
<link href="./css/style.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
<div class="row col-12" id="bodypart">
		<div class="container-fluid">
			<div class="row col-12">

			</div>
		    <div class="row col-12">
		    	<div class="col-1" id="leftside">
		        </div>
		        <div class="col-8" id="middle">
		        	<div class="card" style="width: 1085px;">
					  <div class="card-body">
					    <h6 class="card-title">KẾT QUẢ BÁN HÀNG HÔM NAY</h6>
					    <div class="row col-12">

							<div class="col-3" id="resultcol">
								<div class="row col-12">
									<div class="row col-4" id="moneyfield">
										<span class="fa fa-money" id="moneyicon"></span>
									</div>
									<div class="row col-8" id="revenuefield">
										<b>1 hóa đơn</b>
										<p class="text-info" style="font-size: 27px;">8,943,000</p>
										<h6 class="card-subtitle mb-2 text-muted">Doanh thu tuần</h6>
									</div>
								</div>
							</div>

							<div class="col-2" id="returncol">
								<div class="row col-12">
									<div class="row col-4" id="replyallfield">
										<span class="fa fa-reply-all" id="replyallicon"></span>
									</div>
									<div class="row col-8" id="returnfield">
										<ul class="list-group">
											<b>0 phiếu</b>
											<p class="text-info" style="font-size: 27px;">0</p>
											<h6 class="card-subtitle mb-2 text-muted">Trả hàng</h6>
										</ul>
									</div>
								</div>
							</div>

							<div class="col-3" id="comparecol">
								<div class="row col-12">
									<div class="row col-4" id="arrowdownfield">
										<span class="fa fa-arrow-circle-down" id="arrowdownicon"></span>
									</div>
									<div class="row col-8" id="comparefield">
										<ul class="list-group">
											<p class="text-danger" style="font-size: 27px;">-69.60%</p>
											<h6 class="card-subtitle mb-2 text-muted">So với hôm qua</h6>
										</ul>
									</div>
								</div>
							</div>

							<div class="col-4">
								<div class="row col-12">
									<div class="row col-4">
										<span class="fa fa-arrow-circle-down" id="arrowdownicon"></span>
									</div>
									<div class="row col-8" id="comparefield">
										<ul class="list-group">
											<p class="text-danger" style="font-size: 27px;">-35.44%</p>
											<h6 class="card-subtitle mb-2 text-muted">So với cùng kỳ tháng trước</h6>
										</ul>
									</div>
								</div>
							</div>
						</div>
					
					  </div>
					</div>
		            <div class="card">
		                <div class="card-header">
		                    <!--h3>Bar Series</h3-->
		                </div>
		                <div class="card-block" style="margin-left: 10px;">
		                	<h6 style="margin-top: 7px; margin-left: 12px;">DOANH THU THUẦN THÁNG NÀY</h6>
		                	<br>
		                	<ul class="nav nav-tabs">
							    <li class="nav-item">
							      <a class="nav-link active" href="#months">Theo tháng</a>
							    </li>
							    <li class="nav-item">
							      <a class="nav-link" href="#hours">Theo giờ</a>
							    </li>
							    <li class="nav-item">
							      <a class="nav-link" href="#days">Theo thứ</a>
							    </li>
						  	</ul>
		                
		                	<!-- Tab panes -->
							  <div class="tab-content">
							    <div id="months" class="container tab-pane active"><br>
		                    	  <div id="chart" style=""></div>
							    </div>
							    <div id="hours" class="container tab-pane fade"><br>
							      <div id="chart1" style=""></div>
							    </div>
							    <div id="days" class="container tab-pane fade"><br>
							      <div id="chart2" style=""></div>
							    </div>
							  </div>
		                </div>
		            </div>
		        </div>
		        <div class="col-2">
		        	<div class="card" style="width: 330px; margin-top: 214px;">
		        		<h6 class="card-title text-center" style="margin-top: 12px;">KẾT QUẢ BÁN HÀNG HÔM NAY</h6>
		        		<div class="card-body">
		        			<div class="row col-12" style="padding: 0px 0px; margin-top: 5px;">
		        				<div class="col-3 text-center" style="padding: 0px 0px;">
		        					<span class="fa fa-file-text" id="filetexticon" style="font-size: 20px; margin-top: 7px;"></span>
		        				</div>
		        				<div class="col-9" style="padding: 0px 0px;">
		        					<p>Bùi Khánh Phương vừa bán đơn hàng với giá trị 8,943,000</p>
		        					<h6 class="card-subtitle mb-2 text-muted font-italic">36 phút trước</h6>
		        				</div>
		        			</div> 

		        			<div class="row col-12" style="padding: 0px 0px; margin-top: 5px;">
		        				<div class="col-3 text-center" style="padding: 0px 0px;">
		        					<span class="fa fa-share" id="filetexticon" style="font-size: 20px; margin-top: 7px;"></span>
		        				</div>
		        				<div class="col-9" style="padding: 0px 0px;">
		        					<p>Bùi Khánh Phương vừa nhập hàng với giá trị 0</p>
		        					<h6 class="card-subtitle mb-2 text-muted font-italic">36 phút trước</h6>
		        				</div>
		        			</div> 

		        			<div class="row col-12" style="padding: 0px 0px; margin-top: 5px;">
		        				<div class="col-3 text-center" style="padding: 0px 0px;">
		        					<span class="fa fa-file-text" id="filetexticon" style="font-size: 20px; margin-top: 7px;"></span>
		        				</div>
		        				<div class="col-9" style="padding: 0px 0px;">
		        					<p>Nguyễn Thị Minh Tâm vừa bán đơn hàng với giá trị 29,418,000</p>
		        					<h6 class="card-subtitle mb-2 text-muted font-italic">Một ngày trước</h6>
		        				</div>
		        			</div> 

		        			<div class="row col-12" style="padding: 0px 0px; margin-top: 5px;">
		        				<div class="col-3 text-center" style="padding: 0px 0px;">
		        					<span class="fa fa-share" id="filetexticon" style="font-size: 20px; margin-top: 7px;"></span>
		        				</div>
		        				<div class="col-9" style="padding: 0px 0px;">
		        					<p>Nguyễn Thị Minh Tâm vừa nhập hàng với giá trị 0</p>
		        					<h6 class="card-subtitle mb-2 text-muted font-italic">Một ngày trước</h6>
		        				</div>
		        			</div>

		        			<div class="row col-12" style="padding: 0px 0px; margin-top: 5px;">
		        				<div class="col-3 text-center" style="padding: 0px 0px;">
		        					<span class="fa fa-file-text" id="filetexticon" style="font-size: 20px; margin-top: 7px;"></span>
		        				</div>
		        				<div class="col-9" style="padding: 0px 0px;">
		        					<p>Nguyễn Thành Long vừa bán đơn hàng với giá trị 83,125,000</p>
		        					<h6 class="card-subtitle mb-2 text-muted font-italic">Một ngày trước</h6>
		        				</div>
		        			</div>  
		        		</div>
		        	</div>
		        </div>
		    </div>  


		    <div class="row col-12">
		    	
		    </div> 

		</div>
	</div>

	<!--div class="row col-12">
		<div id="chartContainer" style="height: 370px;"></div>
	</div-->
	<!--script type="text/javascript"></script-->
	<script type="text/javascript">
	    jQuery(function ($) {   
        $("#chart").shieldChart({
            theme: "bootstrap",
            exportOptions: {
                image: false,
                print: false
            },
            seriesSettings: {
                bar: {
                    stackMode: "normal"
                }
            },
            axisX: {
                categoricalValues: [
                    "01", "02", "03", "04", "05", "06", "07", "08",
                    "09", "10", "11", "12"
                ]
            },
            /*axisY: {
                categoricalValues: [
                    "0", "2 tr", "4 tr", "6 tr", "8 tr", "10 tr", "12tr", "14 tr",
                    "16 tr", "18 tr", "20 tr"
                ]
            },*/
            primaryHeader: {
                text: ""
            },
            dataSeries: [{
                seriesType: "bar",
                collectionAlias: "Hà Nội",
                data: [2.2, 2.5, 1.2, 2.1, 3, 1.5, 1.2, 0.5, 0.7, 1.6, 0.9, 2.1]
            }, {
                seriesType: "bar",
                collectionAlias: "TP Hồ Chí Minh",
                data: [2.5, 1.6, 3, 1.9, 2, 1.1, 3.3, 1.9, 2.7, 3.3, 2, 4]
            }, {
                seriesType: "bar",
                collectionAlias: "Chi nhánh trung tâm",
                data: [1.8, 3.2, 2, 0.5, 0, 2.3, 0.8, 1.2, 1.4, 0, 6, 1]
            }]
        });

    });
	</script>
	<script type="text/javascript">
	    jQuery(function ($) {
        $("#chart1").shieldChart({
            theme: "bootstrap",
            exportOptions: {
                image: false,
                print: false
            },
            seriesSettings: {
                bar: {
                    stackMode: "normal"
                }
            },
            axisX: {
                categoricalValues: [
                    "01", "02", "03", "04", "05", "06", "07", "08",
                    "09", "10", "11", "12"
                ]
            },
            axisY: {
                title: {
                text: 'triệu'
            },
            },
            primaryHeader: {
                text: ""
            },
            dataSeries: [{
                seriesType: "bar",
                collectionAlias: "Hà Nội",
                data: [2.2, 2.5, 1.2, 2.1, 3, 1.5, 1.2, 0.5, 0.7, 1.6, 0.9, 2.1]
            }, {
                seriesType: "bar",
                collectionAlias: "TP Hồ Chí Minh",
                data: [2.5, 1.6, 3, 1.9, 2, 1.1, 3.3, 1.9, 2.7, 3.3, 2, 4]
            }, {
                seriesType: "bar",
                collectionAlias: "Chi nhánh trung tâm",
                data: [1.8, 3.2, 2, 0.5, 0, 2.3, 0.8, 1.2, 1.4, 0, 6, 1]
            }]
        });
        
    });

	</script>


    <script>
	$(document).ready(function(){
	  $(".nav-tabs a").click(function(){
	    $(this).tab('show');
	  });
	});
	</script>






